@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--tg-theme-bg-color, #18181b);
  color: var(--tg-theme-text-color, #ffffff);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}